In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
data = pd.read_csv('london_flows.csv')
data.replace([np.inf, -np.inf], np.nan, inplace=True)
data.dropna(inplace=True)

In [72]:
alpha = 1
gamma = 1
beta = 2
k = 1
T2 = sum(data["flows"])

In [74]:
data = data.dropna(subset=["population", "jobs", "distance", "flows"])

Oi_alpha = data["population"] ** alpha
Dj_gamma = data["jobs"] ** gamma

data["distance"] = data["distance"].replace(0, np.nan)
data = data.dropna(subset=["distance"])
dist_beta = data["distance"] ** -beta


T1 = Oi_alpha*Dj_gamma*dist_beta
k = T2/sum(T1)
data["unconstrainedEst1"] = round(k*Oi_alpha*Dj_gamma*dist_beta, 0)
data["unconstrainedEst1"] = data["unconstrainedEst1"].astype(int)
sum(data["unconstrainedEst1"])

1539091

In [75]:
data1 = data.pivot_table(values ="unconstrainedEst1", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)
data1

/var/folders/60/b7504ly50v1_fz0lr9fy5tt00000gn/T/ipykernel_10760/3910476673.py:1: FutureWarning: The provided callable <function sum at 0x1058ed790> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data1 = data.pivot_table(values ="unconstrainedEst1", index="station_origin", columns = "station_destination",
/var/folders/60/b7504ly50v1_fz0lr9fy5tt00000gn/T/ipykernel_10760/3910476673.py:1: FutureWarning: The provided callable <function sum at 0x1058ed790> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data1 = data.pivot_table(values ="unconstrainedEst1", index="station_origin", columns = "station_destination",
/var/folders/60/b7504ly50v1_fz0lr9fy5tt00000gn/T/ipykernel_10760/3910476673.py:1: FutureWarning: The provided callable <function sum at 0x1058ed790> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data1 = data.pivot_table(values ="unconstrainedEst1", index="station_origin", columns = "station_destination",

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,562
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,54
Acton Town,NaN,NaN,NaN,1.0,1.0,NaN,2.0,0.0,NaN,2.0,...,1.0,0.0,0.0,2.0,NaN,0.0,NaN,0.0,NaN,611
Aldgate,NaN,NaN,0.0,NaN,149.0,NaN,NaN,0.0,NaN,25.0,...,1.0,NaN,1.0,0.0,NaN,0.0,NaN,0.0,NaN,9961
Aldgate East,NaN,NaN,0.0,161.0,NaN,NaN,0.0,0.0,NaN,24.0,...,1.0,0.0,1.0,0.0,NaN,0.0,NaN,0.0,NaN,8079
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,0.0,2.0,3.0,NaN,NaN,NaN,NaN,2.0,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,332
Woodgrange Park,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
Woodside Park,NaN,NaN,0.0,1.0,1.0,NaN,0.0,NaN,NaN,2.0,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,213
Woolwich Arsenal,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,280
All,381.0,29.0,396.0,14364.0,11152.0,186.0,37.0,0.0,3.0,6673.0,...,460.0,71.0,529.0,582.0,57.0,52.0,4.0,65.0,137.0,1539091

In [12]:
import scipy.stats

def CalcRSqaured(observed, estimated):
    """Calculate the r^2 from a series of observed and estimated target values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""
    
    r, p = scipy.stats.pearsonr(observed, estimated)
    R2 = r **2
    
    return R2

In [11]:
from math import sqrt

def CalcRMSE(observed, estimated):
    """Calculate Root Mean Square Error between a series of observed and estimated values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""
    
    res = (observed -estimated)**2
    RMSE = round(sqrt(res.mean()), 3)
    
    return RMSE

In [6]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
import numpy as np
import pandas as pd

data = pd.read_csv('/Users/liuzhengyong/Desktop/CASA Study/Urben Simulation/Assessment/london_flows.csv')
data.replace([np.inf, -np.inf], np.nan, inplace=True)
data = data.dropna(subset=["jobs", "distance"])
data = data[ (data["jobs"] > 0) & (data["distance"] > 0)]

constant = 0.1
data["jobs"] += constant
data["distance"] += constant
x_variables = ["jobs", "distance"]
log_x_vars = []
for x in x_variables:
    log_col_name = f"log_{x}"
    data[log_col_name] = np.log(data[x])
    log_x_vars.append(log_col_name)

formula = 'flows ~ ' + ' + '.join(log_x_vars)
try:
    uncosim = smf.glm(formula=formula, data=data, family=sm.families.Poisson()).fit()
    print(uncosim.summary())
except Exception as e:
    print("Error in model fitting:", e)

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  flows   No. Observations:                61436
Model:                            GLM   Df Residuals:                    61433
Model Family:                 Poisson   Df Model:                            2
Link Function:                    Log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:            -1.8140e+06
Date:                Wed, 24 Apr 2024   Deviance:                   3.4558e+06
Time:                        17:05:28   Pearson chi2:                 8.37e+06
No. Iterations:                     7   Pseudo R-squ. (CS):              1.000
Covariance Type:            nonrobust
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept        3.5474      0.010    351.685      0.000       3.528       3.567
log_jobs         0.7356      0.001   1148.975      0.000       0.734       0.737
log_distance    -0.7214      0.001   -872.133      0.000      -0.723      -0.720
================================================================================

In [17]:
K = uncosim.params[0]
alpha = uncosim.params[1]
beta = -uncosim.params[2]
data["unconstrainedEst2"] = np.exp(K + alpha * data["log_jobs"] - (beta) * data["log_distance"])

predictions = uncosim.get_prediction()
predictions_summary_frame = predictions.summary_frame()
data["fitted"] = predictions_summary_frame["mean"]

/var/folders/60/b7504ly50v1_fz0lr9fy5tt00000gn/T/ipykernel_10307/2895217608.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  K = uncosim.params[0]
/var/folders/60/b7504ly50v1_fz0lr9fy5tt00000gn/T/ipykernel_10307/2895217608.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  alpha = uncosim.params[1]
/var/folders/60/b7504ly50v1_fz0lr9fy5tt00000gn/T/ipykernel_10307/2895217608.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  beta = -uncosim.params[2]

In [80]:
uncosim.mu

array([49.62267305,  0.93734095,  2.12162078, ...,  5.34899486,
       14.11468046, 12.38760184])

In [81]:
data["unconstrainedEst2"] = round(data["unconstrainedEst2"], 0)

data["unconstrainedEst2"] = data["unconstrainedEst2"].astype(int)
sum(data["unconstrainedEst2"])

1542349

In [82]:
cdatasubmat2 = data.pivot_table(values ="unconstrainedEst2", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)
cdatasubmat2

/var/folders/60/b7504ly50v1_fz0lr9fy5tt00000gn/T/ipykernel_10760/3669949241.py:1: FutureWarning: The provided callable <function sum at 0x1058ed790> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cdatasubmat2 = data.pivot_table(values ="unconstrainedEst2", index="station_origin", columns = "station_destination",
/var/folders/60/b7504ly50v1_fz0lr9fy5tt00000gn/T/ipykernel_10760/3669949241.py:1: FutureWarning: The provided callable <function sum at 0x1058ed790> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cdatasubmat2 = data.pivot_table(values ="unconstrainedEst2", index="station_origin", columns = "station_destination",
/var/folders/60/b7504ly50v1_fz0lr9fy5tt00000gn/T/ipykernel_10760/3669949241.py:1: FutureWarning: The provided callable <function sum at 0x1058ed790> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  cdatasubmat2 = data.pivot_table(values ="unconstrainedEst2", index="station_origin", columns = "station_destination",

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,392
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,333
Acton Town,NaN,NaN,NaN,21.0,21.0,NaN,7.0,1.0,NaN,22.0,...,18.0,3.0,6.0,11.0,NaN,2.0,NaN,3.0,NaN,3862
Aldgate,NaN,NaN,7.0,NaN,81.0,NaN,NaN,1.0,NaN,47.0,...,14.0,NaN,8.0,6.0,NaN,3.0,NaN,3.0,NaN,6107
Aldgate East,NaN,NaN,7.0,85.0,NaN,NaN,3.0,1.0,NaN,48.0,...,14.0,3.0,8.0,7.0,NaN,3.0,NaN,3.0,NaN,6470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,7.0,26.0,28.0,NaN,NaN,NaN,NaN,25.0,...,14.0,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,3707
Woodgrange Park,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62
Woodside Park,NaN,NaN,5.0,18.0,18.0,NaN,2.0,NaN,NaN,21.0,...,11.0,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,2647
Woolwich Arsenal,5.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1291
All,222.0,244.0,2490.0,9785.0,10328.0,260.0,725.0,187.0,39.0,10404.0,...,4511.0,664.0,2517.0,1922.0,122.0,803.0,42.0,779.0,721.0,1542349

In [18]:
CalcRSqaured(data["flows"], data["unconstrainedEst2"])

0.08752258373603405

In [19]:
CalcRMSE(data["flows"], data["unconstrainedEst2"])

125.94

In [85]:
data.to_csv('data.csv', index=False)