In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import seaborn as sns
import folium
import statsmodels.api as sm
import scipy.stats
import numpy as np
from math import sqrt
import statsmodels.formula.api as smf
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
from sklearn.preprocessing import StandardScaler

In [2]:
#set up the metric calculations
def CalcRSqaured(observed, estimated):
    """Calculate the r^2 from a series of observed and estimated target values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""
    
    r, p = scipy.stats.pearsonr(observed, estimated)
    R2 = r **2
    
    return R2

def CalcRMSE(observed, estimated):
    """Calculate Root Mean Square Error between a series of observed and estimated values
    inputs:
    Observed: Series of actual observed values
    estimated: Series of predicted values"""
    
    res = (observed -estimated)**2
    RMSE = round(sqrt(res.mean()), 3)
    
    return RMSE

In [3]:
#read in the cdatasub from the first week
cdatasub = pd.read_csv("data.csv")

In [4]:
cdatasub.head(10)

,station_origin,station_destination,flows,population,jobs,distance,unconstrainedEst1,log_population,log_jobs,log_distance,unconstrainedEst2,fitted
0,Abbey Road,Bank and Monument,0,599.1,78549.1,8131.625097,10,6.395429,11.271479,9.003516,50,49.622673
1,Abbey Road,Beckton,1,599.1,442.1,8510.221774,0,6.395429,6.091536,9.049023,1,0.937341
2,Abbey Road,Blackwall,3,599.1,665.1,3775.548872,0,6.395429,6.499937,8.236301,2,2.121621
3,Abbey Road,Canary Wharf,1,599.1,58772.1,5086.614220,18,6.395429,10.981423,8.534368,53,53.302060
4,Abbey Road,Canning Town,37,599.1,15428.1,2229.023167,25,6.395429,9.643946,7.709319,32,32.210949
5,Abbey Road,Crossharbour,1,599.1,1208.1,6686.575560,0,6.395429,7.096804,8.807857,2,2.340318
6,Abbey Road,Custom House,0,599.1,845.1,3824.955630,0,6.395429,6.739455,8.249302,3,2.525158
7,Abbey Road,Cutty Sark,2,599.1,1748.1,8503.998909,0,6.395429,7.466285,9.048292,3,2.668811
8,Abbey Road,Cyprus,7,599.1,850.1,6532.199618,0,6.395429,6.745354,8.784499,2,1.817492
9,Abbey Road,Devons Road,1,599.1,611.1,3958.424171,0,6.395429,6.415261,8.283601,2,1.931506

In [5]:
#show the actual flows between boroughs
cdatasubmat = pd.pivot_table(cdatasub, values ="flows", index="station_origin", columns = "station_destination",
                            aggfunc=np.sum, margins=True)
#show the data
cdatasubmat

/tmp/ipykernel_24979/2414277126.py:2: FutureWarning: The provided callable <function sum at 0xffff841b1580> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'sum' instead.
  cdatasubmat = pd.pivot_table(cdatasub, values ="flows", index="station_origin", columns = "station_destination",
/tmp/ipykernel_24979/2414277126.py:2: FutureWarning: The provided callable <function sum at 0xffff841b1580> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'sum' instead.
  cdatasubmat = pd.pivot_table(cdatasub, values ="flows", index="station_origin", columns = "station_destination",
/tmp/ipykernel_24979/2414277126.py:2: FutureWarning: The provided callable <function sum at 0xffff841b1580> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'sum' instead.
  cdatasubmat = pd.pivot_table(cdatasub, values ="flows", index="station_origin", columns = "station_destination",

station_destination,Abbey Road,Acton Central,Acton Town,Aldgate,Aldgate East,All Saints,Alperton,Amersham,Anerley,Angel,...,Wimbledon,Wimbledon Park,Wood Green,Wood Lane,Wood Street,Woodford,Woodgrange Park,Woodside Park,Woolwich Arsenal,All
station_origin,,,,,,,,,,,,,,,,,,,,,
Abbey Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,599
Acton Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1224
Acton Town,NaN,NaN,NaN,3.0,17.0,NaN,35.0,0.0,NaN,11.0,...,77.0,3.0,6.0,9.0,NaN,0.0,NaN,0.0,NaN,3745
Aldgate,NaN,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,17.0,...,0.0,NaN,4.0,8.0,NaN,0.0,NaN,0.0,NaN,2886
Aldgate East,NaN,NaN,2.0,0.0,NaN,NaN,0.0,0.0,NaN,20.0,...,24.0,0.0,0.0,12.0,NaN,1.0,NaN,1.0,NaN,3172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,2.0,5.0,47.0,NaN,NaN,NaN,NaN,22.0,...,2.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,4868
Woodgrange Park,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,530
Woodside Park,NaN,NaN,1.0,26.0,11.0,NaN,0.0,NaN,NaN,59.0,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3093
Woolwich Arsenal,20.0,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7892
All,345.0,750.0,2202.0,7782.0,7932.0,444.0,741.0,256.0,173.0,8103.0,...,6295.0,596.0,2146.0,1578.0,404.0,706.0,242.0,745.0,4428.0,1542283

## 4. Doubly Constrained Model

For the doubly constrained model:

- We might be interested in understanding the changing patterns of commuting or migration over time. Data from the Census allows us to know an accurate snap-shot of migrating and commuting patterns every 10 years. In these full data matrices, we know both the numbers of commuters/migrants leaving origins and arriving at destinations as well as the interactions between them. If we constrain our model estimates to this known information at origin and destination, we can examine various things, including:
    - The ways that the patterns of commuting/migration differ from the model predictions - where we might get more migrant/commuter flows than we would expect
    - How the model parameters vary over time - for example how does distance / cost of travel affect flows over time? Are people prepared to travel further or less far than before?


Which we can now introduce.

Let us begin with the formula:

\begin{equation} \tag{9}
T_{ij} = A_i B_j O_i D_j d_{ij}^{-\beta}
\end{equation}

Where

\begin{equation} \tag{10}
O_i = \sum_j T_{ij}
\end{equation}

\begin{equation} \tag{11}
D_j = \sum_i T_{ij} 
\end{equation}

and

\begin{equation} \tag{12}
A_i = \frac{1}{\sum_j B_j D_j d_{ij}^{-\beta}}
\end{equation}

\begin{equation} \tag{13}
B_j = \frac{1}{\sum_i A_i O_i d_{ij}^{-\beta}}
\end{equation}

Now, the astute will have noticed that the calculation of $A_i$ relies on knowing $B_j$ and the calculation of $B_j$ relies on knowing $A_i$. A conundrum!! If I don’t know $A_i$ how can I calcuate $B_j$ and then in turn $A_i$ and then $B_j$ ad infinitum???!!

Well, I wrestled with that for a while until I came across [this paper by Martyn Senior](http://journals.sagepub.com/doi/abs/10.1177/030913257900300218) where he sketches out a very useful algorithm for iteratively arriving at values for $A_i$ and $B_j$ by setting each to equal to 1 initially and then continuing to calculate each in turn until the difference between each value is small enough not to matter.

We will return to this later, but for now, we will once again used the awesome power of Python to deal with all this difficulty for us!

We can run the doubly constrained model in exactly the same way as we ran the singly constrained models:

\begin{equation} \tag{14}
\lambda_{ij} = \exp (\alpha_i + \gamma_j -\beta \ln d_{ij})
\end{equation}

now in python:

In [8]:
print(cdatasub.describe())
print(cdatasub.head())

              flows    population          jobs      distance  \
count  61413.000000  61413.000000  61413.000000  61413.000000
mean      25.113298   5531.387268   6136.150755  16322.693526
std      131.479668   8505.483410  10915.202915   9400.312155
min        0.000000    162.100000     42.100000    248.278706
25%        0.000000   1554.100000    792.100000   8947.249423
50%        3.000000   2839.100000   1921.100000  15237.259477
75%       13.000000   5389.100000   6295.100000  22289.576167
max    15946.000000  67372.100000  78549.100000  60633.423742

       unconstrainedEst1  log_population      log_jobs  log_distance  \
count       61413.000000    61413.000000  61413.000000  61413.000000
mean           25.061323        8.033064      7.738896      9.488047
std           492.543230        1.017018      1.396721      0.732139
min             0.000000        5.094364      3.763523      5.518572
25%             0.000000        7.349295      6.675949      9.099213
50%             0.000000        7.951595      7.561174      9.631565
75%             3.000000        8.592319      8.747686     10.011919
max         55227.000000       11.118001     11.271492     11.012618

       unconstrainedEst2        fitted
count       61413.000000  61413.000000
mean           25.114373     25.113298
std            73.107009     73.106477
min             0.000000      0.066025
25%             3.000000      3.027435
50%             8.000000      7.500489
75%            21.000000     21.269707
max          3710.000000   3710.304021
  station_origin station_destination  flows  population     jobs     distance  \
0     Abbey Road   Bank and Monument      0       599.1  78549.1  8131.625097
1     Abbey Road             Beckton      1       599.1    442.1  8510.221774
2     Abbey Road           Blackwall      3       599.1    665.1  3775.548872
3     Abbey Road        Canary Wharf      1       599.1  58772.1  5086.614220
4     Abbey Road        Canning Town     37       599.1  15428.1  2229.023167

   unconstrainedEst1  log_population   log_jobs  log_distance  \
0                 10        6.397096  11.271492      9.003639
1                  0        6.397096   6.093795      9.049141
2                  0        6.397096   6.501440      8.236566
3                 18        6.397096  10.981440      8.534564
4                 25        6.397096   9.644011      7.709767

   unconstrainedEst2     fitted
0                 50  49.622673
1                  1   0.937341
2                  2   2.121621
3                 53  53.302060
4                 32  32.210949

In [ ]:
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
from sklearn.preprocessing import StandardScaler

# 创建标准化器实例
scaler = StandardScaler()

# 对数值进行标准化
cdatasub['scaled_log_jobs'] = scaler.fit_transform(cdatasub[['log_jobs']])
cdatasub['scaled_log_population'] = scaler.fit_transform(cdatasub[['log_population']])
cdatasub['scaled_log_distance'] = scaler.fit_transform(cdatasub[['log_distance']])

# 更新模型公式，使用标准化后的变量
dbl_form = 'flows ~ C(station_destination) + C(station_origin) + scaled_log_jobs + scaled_log_population + scaled_log_distance - 1'

# 尝试重新拟合模型
try:
    doubSim = smf.glm(formula=dbl_form, data=cdatasub, family=sm.families.Poisson()).fit()
    print(doubSim.summary())
except Exception as e:
    print("Error in fitting model:", e)